<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sangeng.mapper.BokMapper">



    <resultMap id="bokUserMapper" type="Bok">
       <id column="b_id" property="b_id"></id>
       <result column="u_id" property="u_id"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="bok_create_time" property="bok_create_time" ></result>
        <result column="comments" property="comments" ></result>
        <result column="goods" property="goods" ></result>
        <result column="views" property="views" ></result>
        <association property="user" javaType="User">
            <id column="id" property="id"></id>
            <result column="avatar" property="avatar"></result>
            <result column="nick_name" property="nickName"></result>
            <result column="user_type" property="userType"></result>
        </association>
    </resultMap>
    <select id="selectBokByPage" resultMap="bokUserMapper">
        select b.*,u.avatar,u.nick_name,u.user_type from sys_bok_list b  join sys_user u on b.u_id=u.id order by b.bok_create_time desc

    </select>



    <select id="selectBokByCurrentDay" resultMap="bokUserMapper">
        select b.*,u.avatar,u.nick_name,u.user_type from sys_bok_list b  join sys_user u on b.u_id=u.id
            where to_days(b.bok_create_time)=to_days(now()) order by (b.goods+b.views+b.comments) desc   limit 5

    </select>





    <resultMap id="bokUser" type="Bok">
        <id column="b_id" property="b_id"></id>
        <result column="u_id" property="u_id"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="bok_create_time" property="bok_create_time" ></result>
        <result column="comments" property="comments" ></result>
        <result column="goods" property="goods" ></result>
        <result column="views" property="views" ></result>
        <association property="user" javaType="User">
            <id column="id" property="id"></id>
            <result column="avatar" property="avatar"></result>
            <result column="nick_name" property="nickName"></result>
            <result column="user_type" property="userType"></result>
        </association>
    </resultMap>
    <select id="selectBokAndUserInfoByBid" resultMap="bokUser">
        select b.*,u.avatar,u.nick_name,u.user_type from sys_bok_list b  join sys_user u on b.u_id=u.id where b.b_id=#{b_id}

    </select>
</mapper>